body {
  text-align: center ;
}
.login#login-container {
  text-align: center ;
  display: inline-block ;
}
.login-text{
  font-size: 40px ;
}
.login-box {
  font-size: 24px ;
  padding: 4px ;
  margin: 12px ;
  border-radius: 4px ;
}
.login-btn {
  font-size: 24px ;
  padding: 4px ;
  margin: 12px ;
  border-radius: 4px ;
}
